
<h1>Profesionales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.name %></td>
        <% if has_permission('professional_show')%>
        <td><%= link_to 'Ver', professional %></td>
        <% end %>

        <% if has_permission('professional_update')%>
        <td><%= link_to 'Editar', edit_professional_path(professional) %></td>
        <% end %>

        <% if has_permission('professional_destroy')%>
        <td><%= link_to 'Eliminar', professional, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if has_permission('professional_new')%>
<%= link_to 'Crear nuevo Profesional', new_professional_path %>
<% end %>
