<h1>Turno de <%= @professional.name %></h1>

<p>
  <strong>Fecha y hora:</strong>
  <%= @appointment.date.strftime("%Y/%m/%d %H:%M") %>
</p>

<p>
  <strong>Nombre del paciente:</strong>
  <%= @appointment.first_name %>
</p>

<p>
  <strong>Apellido del paciente:</strong>
  <%= @appointment.last_name %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>Notas adicionales:</strong>
  <%= @appointment.notes %>
</p>

<p>
<% if has_permission('appointment_update')%>
<%= link_to 'Editar', edit_professional_appointment_path(@professional, @appointment) %> | 
<% end %>
<%= link_to 'Volver', professional_appointments_path(@professional) %>
</p>
